:root {
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --main-paragraph: hsl(0, 0%, 100%, 75%);
    --stat-headings: hsl(0, 0%, 100%, 60%);
    --image-color: hsl(275, 90%, 30%, 50%);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    background-color: var(--main-background);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.card-container {
    max-width: 90vw;
    display: flex;
    background-color: var(--card-background);
    border-radius: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

.card-title {
    font-size: 2.1rem;
}

.emphasis {
    color: var(--accent);
}

.card-description {
    margin-top: 1.5rem;
    width: 90%;
    line-height: 1.5rem;
    color: var(--stat-headings);
}

.stats-container {
    font-size: .8rem;
    display: flex;
    margin-top: 5rem;
}

.stats-container > * {
    display: flex;
    flex-direction: column;
    flex-basis: 28%;
    color: var(--stat-headings);
    gap: .3rem
}

.special {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.card-image {
    width: 100%;
    height: 100%;
    position: relative;
}

.card-image img {
    max-width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
    position: absolute;
}

.card-image-purple {
    background-color: var(--image-color);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.attribution { 
    font-size: 11px; text-align: center; 
    margin-top: 1rem;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 880px) {
    .card-container {
        flex-direction: column-reverse;
        max-width: 30rem;
        width: 90vw;
    }

    .card-image img {
        max-width: 100%;
        height: 20rem;
        border-radius: 10px 10px 0 0;
        width: 100%;
        position: relative;
    }

    .card-image-purple {
        border-radius: 10px 10px 0 0;
    }

    .card-content {
        align-items: center;
        padding: 3rem 2rem;
    }
    
    .card-content > * {
        text-align: center;
        gap: 1.5rem;
    }

    .card-description {
        width: 100%;
    }

    .stats-container {
        flex-direction: column;
        margin-top: 3rem;
    }

}